*{
    padding: 0;
    border: 0;
    margin: 0;
}

#circulo{
    width: 150px;
    height: 150px;
    margin:100px auto;
    -webkit-border-radius:100%;
    border-radius: 100%;
    background-color: black;
    cursor: pointer;
    text-decoration: none;
}

#circulo:hover{
    width: 200px;
    height: 200px;
    text-decoration: none;
    background-color: red;
}